body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #fcf3e0;
}

img {
  vertical-align: top;
}

.wrap {
  width: 392px;
  margin: auto;
  padding: 20px;
}

.wrap h1,
.wrap img {
  display: block;
}

.wrap h1 {
  text-align: center;
  font-size: 2rem;
}

.wrap img {
  margin: auto;
  height: 120px;
  margin-bottom: 29px;
}

.login label,
.login input,
.login button {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.login {
  width: 392px;
  margin: auto;
}

.login input {
  /* border-width: 0 0 1px 0; */
  /* border-color: #677880; */
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  margin-bottom: 23px;
  background: transparent;
  transition: box-shadow 0.1s;
  padding: 0 10px;
}

.login input:hover {
  /* border-color: #2e6ff2; */
  /* border-bottom-width: 2px; */
  box-shadow: 0 0 0 2px #2e6ff2;
}

.login input:focus {
  outline: none;
  /* border: 2px solid #2e6ff2; */
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

.login label {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

.login button {
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* 이메일,비번을 입력하면 disabled 사라지는 효과 줄 수 있음 */
.login button:disabled {
  background-color: #9fa9ae;
}

.footer {
  font-size: 0.5rem;
  color: #677880;
  text-align: center;
}
