header {
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 80px;
  margin-top: 14px;
  margin-bottom: 56px;
}

.nav img {
  height: 75px;
}

.nav a {
  text-decoration: none;
}

.sign-wrap a {
  color: #5a6a72;
  padding: 0 2em 0 2.8em;
  background: url(../images/icon-join.svg) no-repeat 0.8em center/ 2em;
  text-align: center;
}

.sign-wrap a:nth-child(1) {
  border-right: 1px solid #d8ddde;
  background: url(../images/icon-login.svg) no-repeat 0.8em center/ 2em;
}
